
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.otf')  format('opentype'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.otf')  format('opentype'),
  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf')  format('truetype'),
  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.otf')  format('opentype'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: 'ProximaNova-Regular-Italic';
  src: url('../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.otf')  format('opentype'),
  url('../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.woff') format('woff'),
  url('../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.ttf')  format('truetype'),
  url('../fonts/ProximaNova-Regular-Italic/ProximaNova-Regular-Italic.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: 'Gopher-Medium';
  src: url('../fonts/Gopher-Medium/Gopher-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gopher-Medium/Gopher-Medium.woff') format('woff'),
  url('../fonts/Gopher-Medium/Gopher-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: 'Gopher-Bold';
  src: url('../fonts/Gopher-Bold/Gopher-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gopher-Bold/Gopher-Bold.woff') format('woff'),
  url('../fonts/Gopher-Bold/Gopher-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; //обязательно
}

@font-face {
  font-family: 'Gopher-Regular';
  src: url('../fonts/Gopher-Regular/Gopher-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gopher-Regular/Gopher-Regular.woff') format('woff'),
  url('../fonts/Gopher-Regular/Gopher-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; //обязательно
}
